:root {
    --primary-color:    #3EAFFF;
    --secondary-color:  #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding: 1rem;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 50vw;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-item:hover {
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: underline;
}

.nav-item.active {
    color: var(--primary-color);
}
@media (max-width: 992px) {
    nav {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    nav {
        width: 100vw;
        transform: translateX(0%);
        margin-left: 0;
        margin-top: 0;
    }
}

section {
    height: 100vh;
}